/*******************************
            Global
*******************************/

html,
body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Merriweather', Times New Roman, serif;
}

.button {
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(0, 0, 0, 0.08) 100%
        ),
        linear-gradient(0deg, #4daf7c, #4daf7c);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15),
        inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    color: white;
    width: 156px;
    height: 50px;
    border: unset;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.logo {
    padding-top: 50px;
    padding-bottom: 60px;
}

.main-heading {
    margin: 0;
    padding-right: 132px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
}

.sub-paragraph {
    margin: 40px 0;
    padding-right: 150px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
}
/*******************************
              Page
*******************************/

.hero {
    padding-bottom: 100px;
    background-color: #dff1e8;
}

.hero-content-container {
    display: flex;
}

.page {
    margin-top: 100px;
}

.cards-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row:not(:last-of-type) {
    margin-bottom: 75px;
}
.card {
    width: 340px;
    box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
        0px 5px 15px rgba(0, 0, 0, 0.07);
}

.card--image__container {
    text-align: center;
    background: linear-gradient(213.14deg, #2c2c2c 6.85%, #141414 93.15%),
        linear-gradient(0deg, #2c2e30, #2c2e30);
    padding: 75px;
}

.card--content__container {
    height: 140px;
    padding: 0 25px;
}

.card--heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.card--sub__paragraph {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #555555;
}

.cta__section {
    display: flex;
    background-image: url(/code/images/cta-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.cta__section--text {
    margin-bottom: 115px;
    padding: 30px 130px;
    width: 100%;
    text-align: center;
    color: #7c7c7c;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}

.cta__section--text:first-of-type {
    border-right: solid 2px rgba(0, 0, 0, 0.09);
}

.cta__section--link {
    color: #339366;
    text-decoration: none;
}
.footer {
    background: #202020;
}

.footer__content {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer--disclaimer {
    margin-left: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: #646464;
}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* Mobile */
@media only screen and (max-width: 767px) {
}
